@import url(../css/static.css);

.wrapper {
    h1 {
        color: var(--primary-blue);
        font-size: 180px;
    }
    
    .title {
        i {
            color: black;
        }
        color: black;
        font-weight: 600;
        font-size: 30px;
    }

    a {
        padding: 15px 40px;
        background-color: var(--primary-blue);
        font-weight: 700;
        font-size: 25px;
        color: white;
        border-radius: 40px;
        margin-top: 20px;
        transition: all .2s;

        &:hover {
            scale: 1.1;
            background-color: #5273f5;
        }
        
        &:active {
            scale: 1;
        }
    }
}