.wrapper {
  overflow: hidden;
}
.wrapper .main {
  width: 100%;
}
.wrapper .main .sidebar {
  position: fixed;
  width: 240px;
  height: calc(100vh - 60px);
  background-color: white;
  margin-top: 60px;
  transition: all 0.3s;
  z-index: 99;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow-y: hidden;
  overflow-x: hidden;
}
.wrapper .main .sidebar .menus {
  height: 100%;
  margin-top: 20px;
}
.wrapper .main .sidebar .menus .menu-title {
  width: 100%;
  height: 40px;
  color: #b6b6b6;
}
.wrapper .main .sidebar .menus .menu-title span {
  margin-left: 20px;
  margin-top: 10px;
}
.wrapper .main .sidebar .menus .submenu {
  height: 50px;
  overflow: hidden;
  transition: all 0.5s;
}
.wrapper .main .sidebar .menus .submenu .head {
  width: 90%;
  height: 50px;
  padding: 0px 10px;
  color: var(--primary-gray);
  transition: all 0.2s;
}
.wrapper .main .sidebar .menus .submenu .head .name {
  font-size: 17px;
  font-weight: 500;
}
.wrapper .main .sidebar .menus .submenu .head span i {
  margin: 0px 5px 0px 10px;
  font-size: 16px;
}
.wrapper .main .sidebar .menus .submenu .head:hover {
  width: 95%;
  color: var(--primary-blue);
}
.wrapper .main .sidebar .menus .submenu .head:hover i {
  color: var(--primary-blue);
}
.wrapper .main .sidebar .menus .submenu .head.iconize::after {
  transition: all 0.2s;
  content: "\f054";
  font-size: 16px;
}
.wrapper .main .sidebar .menus .submenu ul {
  width: 80%;
  margin-left: 20px;
}
.wrapper .main .sidebar .menus .submenu ul li {
  width: 100%;
  height: 35px;
  padding-left: 8px;
  border-radius: 8px;
  transition: all 0.2s;
  margin-top: 5px;
  font-weight: 450;
  border: none;
}
.wrapper .main .sidebar .menus .submenu ul li a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 35px;
}
.wrapper .main .sidebar .menus .submenu ul li:hover {
  background-color: var(--primary-blue);
}
.wrapper .main .sidebar .menus .submenu ul li:hover a {
  color: white;
}
.wrapper .main .sidebar .menus .submenu ul .active-btn {
  background-color: var(--primary-blue);
}
.wrapper .main .sidebar .menus .submenu ul .active-btn a {
  color: white;
}
.wrapper .main .sidebar .menus .submenu.active .head::after {
  color: var(--primary-blue);
}
.wrapper .main .sidebar .menus .open-2 .head::after, .wrapper .main .sidebar .menus .open-3 .head::after, .wrapper .main .sidebar .menus .open-4 .head::after {
  transform: rotateZ(90deg);
}
.wrapper .main .sidebar .menus .open-2 {
  height: 135px !important;
}
.wrapper .main .sidebar .menus .open-3 {
  height: 180px !important;
}
.wrapper .main .sidebar .menus .open-4 {
  height: 220px !important;
}
.wrapper .main .sidebar .menus .active::before {
  content: "";
  width: 10px;
  height: 50px;
  border-radius: 10px;
  background-color: var(--primary-blue);
  left: -4px;
  position: absolute;
}
.wrapper .main .sidebar .menus .active .name, .wrapper .main .sidebar .menus .active i {
  color: var(--primary-blue);
}
.wrapper .main .sidebar:hover {
  width: 240px;
}
.wrapper .main .sidebar:hover li[class*=open-] {
  height: -moz-max-content !important;
  height: max-content !important;
}
.wrapper .main .sidebar:hover li[class*=open-] ul {
  display: block;
}
.wrapper .main .sidebar.hide {
  width: 70px;
}
.wrapper .main .sidebar.hide .head::after {
  display: none;
}
.wrapper .main .sidebar.hide .head .submenu-name {
  display: none;
}
.wrapper .main .sidebar.hide .menu-title {
  display: none;
}
.wrapper .main .sidebar.hide .open-2,
.wrapper .main .sidebar.hide .open-3,
.wrapper .main .sidebar.hide .open-4 {
  height: 50px !important;
}
.wrapper .main .sidebar.hide:hover {
  width: 240px;
}
.wrapper .main .sidebar.hide:hover .head::after {
  display: inline;
}
.wrapper .main .sidebar.hide:hover .head .submenu-name {
  display: inline;
}
.wrapper .main .sidebar.hide:hover .menu-title {
  display: inline;
}
.wrapper .main .sidebar.hide:hover .submenu ul {
  display: block;
}/*# sourceMappingURL=sidebar.css.map */